.header {
  display: flex;
  margin-top: 14px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 96px;
}

.name_shop {
  font-size: 24px;
  font-weight: 500;
}

.menu_header {
  display: flex;
  list-style: none;
}

.menu_item {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin: 0px 24px;
  padding: 22px 0;
  transition: 0.25s;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid white;
}

.menu_item:hover {
  color: #a18a68;
  cursor: pointer;
  transition: 0.25s;
}

.menu_item.active {
  border-bottom: 2px solid black;
}

.block_icons {
  display: flex;
  align-items: center;
}

.icon_header {
  margin-left: 24px;
  padding: 3px;
  transition: 0.25s;
}

.icon_header:hover {
  cursor: pointer;
  transition: 0.25s;
}

.header_seperator {
  display: block;
  content: "";
  margin: 0px 5px;
  width: 1px;
  height: 17px;
  background: #000;
}
