.card {
}

.block_image_product {
  width: 100%;
}

.image_product {
  width: 100%;
  transform: scale(0.8);
}

.title_product {
  font-size: 20px;
  margin: 10px 0px;
  cursor: pointer;
  transition: 0.25s;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.title_product:hover {
  color: #a18a68;
  transition: 0.25s;
}

.price_product {
  font-size: 20px;
  color: #a18a68;
  transition: 0.25s;
}
