.footer {
  border-top: 1px solid #d8d8d8;
  margin-top: 48px;
  margin-top: 0 auto;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer_links_block {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer_links {
  display: flex;
  gap: 24px;
}

.footer_links_item {
  text-transform: uppercase;
  line-height: 24px;
  text-decoration: none;
  color: #707070;
}

.block_input {
  width: 100%;
  max-width: 288px;
  position: relative;
}

.input_footer {
  outline: none;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  padding: 10px 0px;
  opacity: 0.75;
}

.input_footer:focus {
  border-bottom: 1px solid #a18a68;
}

.input_arrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.socials_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: flex;
  align-items: center;
  gap: 24px;
}
